*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-family: 'Roboto', sans-serif, Arial;
}

body{
   font-size: 18px;
}

header{
    width: 100%;
    position: fixed;

    background-color: #16c79bb7;

}
a{
    color: #fff;
    text-decoration: none;
}
/*NAVIGATION BAR*/
.nav-bar{

    display: flex;
    justify-content: space-between;

}
.nav-bar li{
    margin-right: 10px;

}
.nav-bar ul{
    display: flex;
    list-style: none;

}
  /* nav contact icons */
.top-nav ul{

    display: flex;
    list-style: none;
    justify-content: center;
    margin-bottom:10px;
}
.top-nav li {

    margin: 5px 15px 5px 0;
    margin-right: 15px;
    font-size: 85%;

    color:#FFFFFF;
}
.top-nav .material-icons{
    height: 100%;
    color:#FFFFFF;
    text-align: center;
    font-size: 120%;
    font-weight: 300;
}
li.icon{
    margin-right: 5px;
}
.nav-bar ul{
    margin-bottom:10px;
}
.logo{
    height: 50px;
    margin-bottom:10px;
}
.nav-bar li{
    margin-top:10px;
    margin-bottom:10px;

}
.nav-bar li a{
    background-color: #19456b;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
}
.nav-bar li a:hover{
    background-color: #FF4081;
}

/*MAIN SECTION*/
.main-section{

    height: 90vh;

    background-image:linear-gradient(to bottom, rgba(98, 101, 116, 0.52), rgba(15, 15, 15, 0.459)), url(pictures/sparkling-clean-kitchen.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;

}
.main-section h1, .main-section p{
    color: #fff;
    font-size: 400%;
    font-weight: 100;
    padding-top: 200px;
    margin-left: 250px;
}
.main-section p{

    font-size: 120%;
    font-weight: 300;
    padding-top: 50px;
    margin-left: 200px;
    margin-right: 200px;
    line-height: 40px;
}

/*MID SECTION*/
.mid-section{
    color: #fff;
    background-color:#f8f1f1;
}
.main-content{
    margin: auto;
    display:flex;
    justify-content: space-evenly;
    width: 80%;
    padding: 50px 20px;

}
.mid-section h2, .mid-section p{
    color:#fff
}
.mid-section .left{
    width: 45%;
    background-color:#16c79a;
    border-radius: 5px;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 10.3px 17.9px rgba(0, 0, 0, 0.072),
    0 20.8px 33.4px rgba(0, 0, 0, 0.086),
    0 15px 80px rgba(0, 0, 0, 0.12)

}
.mid-section .right{
    width: 45%;
    color: #212121;
}
.right img{
    border-radius: 5px;
}
.mid-section h2, .mid-section p{
    color: #212121;
}
/*FORM*/

.form-title{
    margin:30px 0
}
.form-div h2, .form-div p{
    text-align: center;
    color: #fff;
}

.ul-form li{
    /* background-color: coral; */
    display: flex;
    flex-direction: column;
    margin: 15px 7%;
    font-size: 110%;
    text-align: center;
}
.ul-form input, .ul-form select, .ul-form textarea{
    font-size: 110%;

}
form .btn{
    background-color: #19456b;
    margin: auto;
    font-size: 110%;
    font-weight: 700;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    color: #fff;
}
form .btn:hover{
    background-color: #FF4081;
}
/* .ul-form li {
    text-align: center;

} */

/*FOOTER*/
footer{
    color: #fff;
    background-color: rgba(0, 0, 0, 0.842);
}
footer ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    margin-right: 10px;
    padding: 10px;
}